<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Cadastro de Notas</title>
    </head>
    <body>
        <h1>Cadastro de Notas</h1>
        <form method="POST" action="http://localhost:3000/api/note">
            <label>Titulo: </label><input type="text" name="title" value="" size="40" maxlength="150"/>
            <br>
            <br>
            <label>Corpo:  </label><input type="text" name="body" value="" size="40" maxlength="150"/>
            <br>
            <br>
            <input type="submit" name="enviar" value="Salvar"/>
        </form>
    </body>
</html>